{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    <link rel="stylesheet" href="{% static 'css/c2.css' %}">
</head>
<body id="b" style="background-image: url({% static 'images/BTS.jpg' %})">
    <center>
      <h1>
          This is BTS !
      </h1>
      <img src="{% static 'images/v.jpg'%}" alt="" srcset="">
      <img src="{% static 'images/suga.jpg'%}" alt="" srcset="">
      <img src="{% static 'images/rm.jpg'%}" alt="" srcset="">
      <img src="{% static 'images/mochi.jpg'%}" alt="" srcset="">
      <img src="{% static 'images/jk.jpg'%}" alt="" srcset="">
      <img src="{% static 'images/jin.jpg'%}" alt="" srcset="">
      <img src="{% static 'images/jhope.jpg'%}" alt="" srcset="">
  </center>  
</body>
</html>